<div">
    <h1 style="text-align:center; margin:0px;">
        <span style="font-size: 16px;">
            Техническую поддержку пользователей системы осуществляет ОГБУ "ЧРЦНИТ":
        </span>
    </h1>
    <h1 style="text-align: center; margin:0px;">
        <span style="font-size: 16px; align-items: center;">
            тел.:
            <span style="color: #ff0000;">(xxx)xxx-xx-xx</span>
            ; e-mail:
            <span style="color: #ff0000;">xx@xxxxxxxxxxx.ru</span>
        </span>
    </h1>
    <h1 style="text-align: center; margin:0px;">
        <span style="font-size: 16px; color: #000000;">
            При обращении обязательно нужно указать
            <span style="text-decoration: underline; color: #ff0000;">
                наименование системы, логин, наименование отчетной формы, текст или скриншот ошибки при её наличии
            </span>
            .
        </span>
    </h1>
</div>
