@model IEnumerable<OMSStatusDto>

@{
    ViewBag.Title = "Справочник «Статус ОМС»";
}

<h2>Справочник «Статус ОМС»</h2>

<a asp-action="CreateOMSStatus" class="btn btn-success btn-sm">Добавить</a>

<table class="table">
    <tr><th>Значение</th><th>Удален</th><th></th></tr>
    @foreach (var omsStatus in Model)
    {
        <tr>
            <td>@omsStatus.Value</td>
            <td>@(omsStatus.Delete == false ? "" : "Удален")</td>
            <td>
                <form method="post" asp-controller="OMSStatus" asp-action="DeleteDistrictNumber" asp-route-id="@omsStatus.Id">
                    <a class="btn btn-sm btn-primary" asp-controller="OMSStatus" asp-action="UpdateOMSStatus" asp-route-id="@omsStatus.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>