@model UpdateFormVM

@{
    ViewBag.Title = "Изменить строку";
}

<h2>Добавить новую строку</h2>
<form asp-controller="Form" asp-action="UpdateForm">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CadastralNumber" />
    <input type="hidden" asp-for="Address" />
    <input type="hidden" asp-for="StatusEGRN" />
    <input type="hidden" asp-for="DistrictNumberId" />
    <input type="hidden" asp-for="RosreestrStatusId" />
    <input type="hidden" asp-for="LastModifiedDateRosreestr" />
    <input type="hidden" asp-for="LastModifiedDateOMS" />
    <input type="hidden" asp-for="LastModifiedUserOMS" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-4">
        <label asp-for="OMSStatusId" class="form-label"></label>
        <select asp-for="OMSStatusId" class="form-select">
            @foreach (var item in ViewBag.SelectOMSStatus)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="mt-3">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>