@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-4">Автоматизированная система хранения промежуточных данных в части выявления правообладателей объектов недвижимого имущества</h1>
</div>

<partial name="_Info" />